<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- Trecho de códio que serve para configurar o meu site e este conteúdo não vai aparecer-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de chamados</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- HEADER srever para montar o meu cabecalho-->
    <header class="cabecalho">
        <img src="" alt="">
        <!--NAV trecho de código que serve para definir menu-->
        <nav>
            <a href="http://"></a>
            <a href="http://"></a>
        </nav>
    </header>
    <!--MAIN Parte principal do meu site-->
    <main>
        <section>
            <h1>

            </h1>
            <div>

            </div>
        </section>

        <section>
        </section>
    </main>
    <!--FOOTER trecho de código para rodapé -->
    <footer>
    </footer>    
</body>
</html>